<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Panel Paciente</title>
    <%- include('imports/imports') %>
</head>
<body>
    <header>
        <%-include('parcial/nav',{logo:true,titulo:true, value:'Datos Paciente', menu:false})%>
    </header>
    <main>
        <div class="tContainer">
            <div class="r">
                <div class="c4" id="datos-paciente">
                    
                        <div class="tContainer">
                            <div class="r">
                                <div class="c3">
                                    <form action="" id="frm-datos-paciente" class="f-column">
                                        <input type="text" value="<%= persona.nombre %>">
                                        <input type="text" value="<%= persona.apellido %>">
                                        <input type="date" value="<%= persona.fecha_nacimient%>">
                                        <input type="text" value="<%= persona.genero %>">
                                        <input type="text" value="<%= persona.direccion %>">
                                        <input type="text" value="<%= persona.tel %>">
                                        <input type="text" value="<%= persona.email %>">
                                        <button type="submit">Actualizar</button>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    
                </div>
            </div>
        </div>
    </main>
    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <footer></footer>

</body>
</html>