<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Panel Paciente</title>
    <%- include('imports/imports') %>
</head>
<body>
    <header>
        <%-include('parcial/nav',{logo:true,titulo:true, value:'Datos Paciente', menu:false})%>
    </header>
    <main>
        <div class="tContainer">
            <div class="r">
                <div class="c4" id="datos-paciente">
                    
                        <div class="tContainer">
                            <div class="r">
                                <div class="c3">
                                    <form action="" id="frm-datos-paciente" class="f-column">
                                        <input type="hidden" id="id_persona" value="<%= persona.id_persona %>">
                                        <input type="text" id="nombre" value="<%= persona.nombre %>">
                                        <input type="text" id="apellido" value="<%= persona.apellido %>">
                                        <input type="date" id="fecha_nacimient" value="<%= persona.fecha_nacimient%>">
                                        <input type="text" id="genero" value="<%= persona.genero %>">

                                        <% if(persona.genero=="f"||persona.genero=="F"){
                                            %>
                                            <div id="CheckEmbarazada">
                                                <label >
                                                    <input type="checkbox" name="embarazada" value="Embarazada" id="embarazada" checked="<% if(persona.embarazada){
                                                        %> true <%
                                                    }  else{
                                                        %> false <%
                                                    } %>">
                                                    embarazada
                                               </label>

                                            </div>
                                            
                                            <%
                                        } %>
                                        
                                        
                                        <input type="text" id="direccion" value="<%= persona.direccion %>">
                                        <input type="text" id="tel" value="<%= persona.tel %>">
                                        <input type="text" id="email" value="<%= persona.email %>">
                                        <button type="submit">Actualizar</button>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    
                </div>
            </div>
            <div class="r">
                <div class="c3 f-column">
                    <%
                        ordenes.forEach(o=>{
                            %>
                            <ul>
                                <li><%=  o.id_orden  %></li>
                                <li><%=  o.estado  %></li>
                                <li><%=  o.fecha_creacion  %></li>
                                <li><%= o.analisis.descripcion%></li>
                            </ul>
                            <%
                        })
                    %>
                    
                    
                </div>
            </div>
        </div>
    </main>
    <script type="module" src="/js/actualizarPaciente.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <footer></footer>

</body>
</html>