<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/template-css.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/login-paciente.css">
<link rel="stylesheet" href="/css/page-datos-paciente.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Panel Paciente</title>
    <%- include('imports/imports.ejs') %>
</head>
<body>
    <header>
        <%-include('parcial/nav',{logo:true,titulo:true, value:'Datos Paciente', menu:false})%>
    </header>
    <main>
        <div class="tContainer">
            <div class="r">
                <div class="c4" id="datos-paciente">
                    <form id="formulario-datos" class="w-75 mx-auto d-flex flex-column align-items-center mt-5 ">
                        <div class="container">
                            <p>Nombre: <%= persona.nombre %></p>
                            <p>Apellido: <%= persona.apellido %></p>
                            <p>DNI: <%= persona.dni %></p>
                            <p>Fecha de Nacimiento: <%= persona.fecha_nacimient %></p>
                            <p>Género: <%= persona.genero %></p>
                            <p>Dirección: <%= persona.direccion %></p>
                            <p>Teléfono: <%= persona.tel %></p>
                            <p>Email: <%= persona.email %></p>
                             </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <footer></footer>

</body>
</html>