<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Valores</title>
    <%- include('imports/imports')%>
</head>
<body>
    <input type="hiden" value="<%= examen.id_examen%>" id="id_examen">
    <header>
        <%- include('parcial/nav',{logo:true, titulo:true,value:'Registrar Valores',menu:true,tipoUser:rol}) %>
    </header>
    <main>

        <div class="tContainer">
            <div class="r">
                <div class="c4">
                    <input type="hidden" id="idOrden" value="<%=examen.orden.id_orden%>">
                     
            <input type="hidden" id="rol" value="<%=rol%>"> 
                    <table>
                        <tr class="cabecera">
                            <td>Determinacion</td>
                            <td>resultado</td>
                            <td>unidad</td>
                            <td>Val. Min.</td>
                            <td>Val. Max.</td>
                        </tr>
                        <% determinacion.forEach(registro => { %>
                            %>
                              <tr>
                                
                                <td><%= registro.nombre %></td>
                                <td><input type="text" id="<%= registro.id_determinacion %>" class="inputDet"></td>
                                <td><%= registro.unidad_medida %></td>
                               

                                <td>

                                   <%
    valor_Ref.forEach(vr => {
        
        let rango = "";
        if (persona.edad < 17 && persona.edad < 51) {
            rango = "18-50";
             
        } else {
            rango = "51-80";
        }

        if (vr.id_determinacion === registro.id_determinacion) {
%>

            <%= vr.val_min %>
           
<%
        }
        
    });
%>
                                </td>
                                <td>

                                    <%
     valor_Ref.forEach(vr => {
         
         let rango = "";
         if (persona.edad < 17 && persona.edad < 51) {
             rango = "18-50";
              
         } else {
             rango = "51-80";
         }
 
         if (vr.id_determinacion === registro.id_determinacion) {
 %>
 
             <%= vr.val_max %>
            
 <%
         }
         
     });
 %>
                                 </td>
                              </tr>
                            <%
                        }) %>
                    </table>
                    
                </div>
            </div>
            <div class="r"><div class="c3"><button id="guardarResult">Guardar</button></div></div>
        </div>
    </main>
    <footer></footer>
    <script type="module" src="/js/registrarValores.js"></script>
</body>
</html>