<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('imports/imports')%>
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <style>
        .resaltado {
            background-color: rgb(255, 72, 0); /* Puedes usar cualquier color o estilo que prefieras */
        }
        table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2a1;
    }
    @media print {
    body {
        width: 25cm;
        height: 29.7cm;
        margin: 0;
        padding: 0;
    }
    @page {
        size: A4;
        margin: 1cm;
    }
    .titulo {
        text-align: center;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .direccion {
        text-align: center;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .telefono {
        text-align: center;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .contenido {
        margin: 0 auto;
        width: 50%;
    }
    .centrado {
        text-align: center;
        margin: 0 auto; /* Esto centrará horizontalmente el contenido */
    }

}

    </style>
  
</head>
<body>
    <header>
        <%- include('parcial/nav',{logo:true,titulo:true, value: rol, menu:true, tipoUser: rol}) %>
    </header>
    <main>
        <div class="tContainer">
             <div class="c4 f-column border-on">
                <div id="contenido-a-imprimir">
                <div style="display: flex; align-items: center;border-bottom: 1px solid #000;">
                    <img src="/images/logotipo-chico.png" alt="" style="width: 150px;">
                    <div class="f-column" style="font-size: 13px;color: #000000;">
                        <span  class="titulo">LABORATORIO DE ANALISIS CLINICOS</span>
                        <span class="direccion">BALCARCE 1040 - VILLA MERCEDES - SAN LUIS</span>
                        <span class="telefono">TEL:02657-437373 / 568796</span>
                    </div>
                </div>
            <div class="r" style=" display: flex; justify-content: space-between;border-bottom: 1px solid #000; ">   
                
                
                 <div class="c2" style="width: auto; padding-left: 10px;"> <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Paciente: <%= orden.pedido.persona.nombre + " "+ orden.pedido.persona.apellido%></h2>  </div>
                 <div class="c1" style="width: auto;padding-right: 10px;"> <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">DNI: <%= orden.pedido.persona.dni %></h2> </div>
                 <div class="c1" style="width: auto; padding-right: 10px;"> <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Fecha: <%= orden.fecha_creacion.toISOString().slice(0,10)   %> </h2></div>
                 <div class="c4" style=" padding-left: 10px; padding-right: 10px; display: flex; justify-content: space-between;"> <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Edad: <%= orden.pedido.persona.dataValues.edad %></h2>
                 <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Sexo: <%= orden.pedido.persona.dataValues.genero %></h2> 
                </div>
                
            
                </div>
            <div class="r">
               
            
                    
                    <div class="r">
                       <div class="c4 r f-column">
                
                      
                            <% const descripcionesUnicas = new Set(); %>
                        <% resultados.forEach(resultado => { %>
                            <% if (!descripcionesUnicas.has(resultado.dataValues.descripcion)) { %>
                              
                                
<div class="centrado">
                                  <table>
                            <tr>
                              
                              <th>Determinacion</th>
                              <th>Resultado</th>
                              <th>Unidad de Medida</th>
                              <th>Valor Máximo</th>
                              <th>Valor Mínimo</th>
                              <th>Rango de Edad</th>
             
                            </tr> 
                             <h2><%= resultado.dataValues.descripcion %></h2>
                            <% descripcionesUnicas.add(resultado.dataValues.descripcion); %>
                              <% } %>
                       
                          <tr>
                          
                              <td><%= resultado.dataValues.Determinacion %></td>
                              <td <% if (resultado.dataValues.Valor > resultado.val_max) { %>class="resaltado"<% } %>><%= resultado.dataValues.Valor %></td>
                              <td><%= resultado.dataValues.unidad_medida %></td>
                              <td><%= resultado.val_max %></td>
                              <td><%= resultado.val_min %></td>
                              <td><%= resultado.rango_edad %></td>
                          </tr>
                          <% }); %>
                        </table>
                    </div>
                       </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="r">
              <div class="c1"><button id="btnImprimir">Imprimir</button></div>
                <div class="c1"><button id="btnEnviar">Enviar</button></div>
            </div>
        </div>
        
    </main>
    <footer></footer>
    <script type="text/javascript" src="/js/resultFinal.js"></script>
</body>
</html>
