
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('imports/imports')%>
    <title></title>
    <style>
        .resaltado {
  background-color: rgb(255, 72, 0); /* Puedes usar cualquier color o estilo que prefieras */
}

    </style>
</head>
<body>
    <header>
        <%- include('parcial/nav',{logo:true,titulo:true, value: "Seccion de Bioquimico", menu:true, tipoUser: 'Bioquimico'}) %>
    </header>
    <main>
        <div class="tContainer">
            <div class="r">
                <div class="c4 f-column border-on">
                    <div class="r border-on">
                        <h1>Resultados de Exámen </h1>
                    </div>
                    <div class="r">
                       <div class="c4 f-column">
                        <% let examenMostrado = false; %>

                        <% resultados.forEach(resultado => { %>
                          <% if (resultado.determinacion && !examenMostrado) { %>
                            <h2><%= resultado.determinacion.examenD.nombre_examen %></h2>
                            <% examenMostrado = true; %>
                          <% } %>
                          <% }); %>
  
                        <% if (resultados.length > 0) { %>
                          <table>
                            <tr>
                              
                              <th>Determinacion</th>
                              <th>Resultado</th>
                              <th>Unidad de Medida</th>
                              <th>Valor Máximo</th>
                              <th>Valor Mínimo</th>
                              <th>Sexo</th>
                              <th>Rango de Edad</th>
                              <th>nombre</th>
                            </tr>
                      
                            <% resultados.forEach(resultado => { %>
                              <% if (resultado.determinacion) { %>
                                <tr>
                                    
                                  <td><%= resultado.determinacion.nombre %></td>
                                  <td <% if (resultado.determinacion.valor > resultado.determinacion.dataValues.val_max) { %>class="resaltado"<% } %>><%= resultado.determinacion.valor %></td>
                                  <td><%= resultado.determinacion.unidad_medida %></td>
                                  <td><%= resultado.determinacion.dataValues.val_max %></td>
                                  <td><%= resultado.determinacion.dataValues.val_min %></td>
                                  <td><%= resultado.determinacion.dataValues.sexo %></td>
                                  <td><%= resultado.determinacion.dataValues.rango_edad %></td>
                                  
                                </tr>
                              <% } %>
                            <% }); %>
                          </table>
                        <% } else { %>
                          <p>No se encontraron resultados.</p>
                        <% } %>
                      
                       </div>
                    </div>
                    <div class="r border-on ">
                        <div class="c2">
                           
                        </div>
                        <div class="c2">
                      
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="r">
                <div class="c1"><button>Verificar</button></div>
                <div class="c1"><button>Informar</button></div>
                <div class="c1"><button>Validar</button></div>
                <div class="c1"><button></button></div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>